/*
.remark-inline-code {
    /* until the link between code and mathjax 
    is broken, we need to use transparent */
/*   background: transparent; /* #F5F5F5; /* lighter */
   /* background: #e7e8e2; /* darker */
 /*  background-color: #ffffff;
   border-radius: 3px;
   padding: 2px;
 }
 

 .code{
    background-color: #ffffff;
    color: #004c93;
 }

.poster_title {
  margin-top: 150px; 
}

.logo_right {
    position: relative;
    top: -30px;
    right: 100px;
}

*/

.poster_title {
  margin-top: 25px;
}

.logo_right {
    background: transparent;
    position: relative;
    top: +75px;
    right: 50px;
}

code {
  color: #000000 !important;
  background: transparent;
  background-color: #ffffff !important;
}


strong {
  color: #004c93 !important;
}

.table caption {
    font-size: 28 !important;
}

.mybreak {
   break-before: column;
}

/* font sizes */

.font70 , .code70 .remark-code, .code70 .remark-inline-code{ font-size: 70%; }


blockquote, .blockquote {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.02em;
  margin-left: 5px;
  left: 100px;
  right: 100px;
  margin-right: 5px;
  border-left: solid 10px #0148A4;
  border-top: solid 2px #0148A4;
  border-bottom: solid 2px #0148A4;
  border-right: solid 2px #0148A4;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  background-color:  #dfe4f2;
  color: #000000;
  padding: 0.1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
